<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RoboCert -->
      <package
            uri="http://robocert.robocalc/"
            class="robocalc.robocert.model.robocert.RoboCertPackage"
            genModel="model/RoboCert.genmodel"/>
   </extension>

</plugin>
